_site
.sass-cache
.jekyll-metadata
*.iml
Gemfile.lock
backend.log
**/target/
*.pyc
**/phantomjsdriver.log
*.db
*.gz
!**/testdata/*.gz
**/datadump.json
persistent-data/*-data/**/*
**/venv/**

.DS_Store
.idea/
backend/logs/
