{% extends "_base.html" %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">Home</a></li>
            </ul>
        </div>
        <div id="navbar" class="pull-right collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a data-toggle="modal" data-target="#editModal">Imdb ratings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="home">

    <div id="vmap"></div>

    <div id="popup" class="messagepop pop ontop"></div>

</div>


<div id="data" hidden>
    {{ data }}
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">Imdb ratings</h4>
            </div>
            <form action="/uploadFile" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <p>To upload your rated movies from imdb follow these steps</p>
                    <ol>
                        <li>Make sure that you've logged into your imdb-account</li>
                        <li>Click the download button</li>
                        <li>Choose the downloaded file named ratings.csv</li>
                        <li>Click the upload button</li>
                    </ol>
                    <a href="http://www.imdb.com/list/export?list_id=ratings&author_id=ur32409321" target="_blank" class="btn btn-primary">
                        download imdb ratings
                    </a>

                    <br/>

                    <div style='height: 0px;width: 0px; overflow:hidden;'>
                        <input id="file" type="file" name="file" style="hidden">
                    </div>

                    <button type="button" class="btn btn-primary" onclick="document.getElementById('file').click()">
                        Choose file
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnUpdate" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}