{% extends "base/_base.html" %}

{% block content %}

<div class="home">

    <br/>
    <h1>Welcome to the world in movies</h1>

    <div>
        This website started as I was curious about what parts of the world I'd seen movies from
        and how many countries that I hadn't seen any movies from
    </div>

    <div>
        So I started on making this, which should be able to help in visualizing the answer to that question
    </div>

    <div>
        And hopefully it'll be interesting seeing the results
    </div>

    <br/>
    <br/>

    <div>
        For now there's only two pages working
        <ul>
            <li>Map - Shows what countries you've seen movies from, and lists top rated movies from every country</li>
            <li>Chart - Shows how many movies you've seen from each country, in a pie-chart</li>
        </ul>
    </div>

</div>


{% endblock %}