html, body {
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-areas:
    'nav'
    'welcome'
    'map-container';
}

nav { grid-area: nav; }
.welcome { grid-area: welcome; }
.map-container { grid-area: map-container; }


.main {
    padding-top: 50px;
}

/* Navbar */

nav ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
