html, body {
    margin: 5px;
    padding: 0;
}

#vmap {
  width: 100%;
  height: 100%;
}

.superduper tr:nth-child(odd){
		background: #c9dfaf; /* Green */
}

.superduper tr:nth-child(even){
		background: #a5bfdd; /* Blueish */
}

.superduper {
    counter-reset: rowNumber;
}

.superduper tr:not(:first-child) {
    counter-increment: rowNumber;
}

.superduper tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.greger {
    background-color: #e6f3f7;
    color: #F5DE50;
    font-family: Helvetica;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
/* selected link */
a:active {
  color: black;
}
a:hover {
  color: darkgreen;
}

/* Modal Content */
.modal-content {
  background-color: #e6f3f7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  font-family: Helvetica;
}

/* The Close Button */
.close {
  color: F5DE50;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}