nav {
  position: sticky;
  background: var(--blue3);
  padding: 24px 80px;
  height: 56px;
  box-shadow: 1px 1px 5px 0 var(--blue5);

  #nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #nav-links-left {
      display: grid;
      grid-template-columns: fit-content(120px) fit-content(120px);
      gap: 16px;
    }

    #nav-links-right {
      display: grid;
      grid-template-columns: fit-content(120px) fit-content(120px);
      gap: 16px;
      justify-content: end;

      .input[contenteditable]:empty::before {
        content: "Search";
        color: var(--blue2);
      }

      .input {
        font-family: inherit;
        font-size: inherit;
        display: flex;
        align-items: center;
        border-color: var(--blue4);
      }

      .menu-content {
        display: none;
        position: absolute;
        background-color: var(--blue1);
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 8px;
      }

      #menu:hover .menu-content {
        display: block;
      }

      a {
        text-decoration: none;
        color: var(--green4);
      }
    }

    .searchbutton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 8px;
      height: 48px;
      box-shadow: 1px 1px 5px 0 var(--blue5);

      color: var(--green4);

      background: var(--blue1);
      border-radius: 10px;
    }

    .button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 16px;
      gap: 8px;
      height: 64px;
      box-shadow: 1px 1px 5px 0 var(--blue5);
      border-style: none;

      color: var(--green4);

      background: var(--blue1);
      border-radius: 8px;
    }

    .button:hover {
      background: var(--blue2);
    }
  }

  .svg-fill {
    fill: var(--green3);
  }

  .svg-stroke {
    stroke: var(--green3);
  }
}


@media screen and (max-width: 768px) {
  nav {
    padding: 24px 8px;

    #nav-links {

      #nav-links-left {
        gap: 8px;
      }

      #nav-links-right {
        gap: 8px;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 950px) {
  nav {
    padding: 24px 24px;

    #nav-links {
      #nav-links-left {
        gap: 8px;
      }

      #nav-links-right {
        gap: 8px;
      }
    }
  }
}

