nav {
  background: var(--blue3);
  padding: 40px 80px;
  gap: 10px;
  height: 56px;
  display: grid;

  #nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #nav-links-left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }

    #nav-links-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      gap: 16px;

      input {
        border-style: none;
        background: var(--blue1);
        padding-top: 0;
        padding-bottom: 0;
        height: 40px;
      }

      .menu-content {
        display: none;
        position: absolute;
        background-color: var(--blue1);
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        border-radius:8px;
      }

      #menu:hover .menu-content {
        display: block;
      }
    }

    .searchbutton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 2px;

      color: var(--green4);

      background: var(--blue1);
      border-radius: 10px;
    }

    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      gap: 10px;

      color: var(--green4);

      background: var(--blue1);
      border-radius: 8px;
    }

    .button:hover {
      background: var(--blue2);
    }
  }

  .svg-fill {
    fill: var(--green3);
  }
  .svg-stroke {
    stroke: var(--green3);
  }
}



