.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: clamp(16px, 2.4vw, 24px) clamp(24px, 5vw, 80px);
  gap: clamp(8px, 3vw, 24px);
}

.worldmaplogosvg {
  height: auto;
  width: clamp(170px, 30vw, 300px);
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row-reverse;
  }
}