section {
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
}

.modal {
  background-color: var(--blue1);
}

section div#rankedMoviesTable {
  width: 50%;
  display: inline-block;
}

section div#myMoviesTable {
  flex-grow: 1;
  float: right;
}

.modal-table a:link {
  color: black;
}

.modal-table tr td a {
  font-family: Helvetica;
  text-decoration: none;
}

/* visited link */
.modal-table a:visited {
  color: black;
}
/* selected link */
.modal-table a:active {
  color: black;
}
.modal-table a:hover {
  color: darkgreen;
}

.modal-table tr:nth-child(odd){
  background: #c9dfaf; /* Green */
}

.modal-table tr:nth-child(even){
  background: #a5bfdd; /* Blueish */
}

.modal-table {
  counter-reset: rowNumber;
}

.modal-table tr:not(:first-child) {
  counter-increment: rowNumber;
}

.modal-table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

.modal-table tr td {
  padding: 5px 15px 5px 10px;
}

.modal-table tr th {
  text-align:left;
  padding: 5px 15px 5px 10px;
}

/* Modal Content */
.modal-content {
  background-color: #e6f3f7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  font-family: Helvetica;
}