.container {
  padding: clamp(16px, 2.4vw, 24px) clamp(24px, 5vw, 80px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.upperArea {
  display: flex;
  flex-direction: row;
  position: relative;
}

.poster {
  height: auto;
  width: clamp(100px, 40%, 300px);
}

.countries {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.upperTextArea {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  max-width: 80%;
}

.title {
  font-size: 2rem;
}

.titles {
  grid-area: title;
  display: flex;
  flex-direction: row;
  gap: 8px;

  div:not(.countries) {
    padding: 8px 16px;
    border-radius: 8px;
    background: var(--accent);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: fit-content;
  }
}

.plot {
  grid-area: plot;
  padding: 8px 0;
}

.button {
  box-shadow: 2px 2px 2px var(--text-color);
  cursor: pointer;
  background: var(--accent);
  padding: 8px 8px;
  width: fit-content;
  border-radius: 8px;
}

.bold {
  display: flex;
  flex-direction: row;
  gap: 16px;

  h4 {
    margin: 8px 0;
  }

  .notbold {
    margin: 8px 0;
  }
}

.seenit {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;

  svg {
    height: 18px;
    width: 24px;
  }
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 8px;

  .button {
    background: var(--complement);
  }
}

.seen {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.notseen {
}

.checkmark {
  width: 24px;
  height: 24px;
}