.container {
  padding: clamp(16px, 2.4vw, 24px) clamp(24px, 5vw, 80px);
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 8px;
  align-items: normal;
  grid-template-areas:
  "title title"
  "poster produced_by"
  "poster plot"
  "poster directors"
  "poster writers"
  "poster ratings"
  "poster seenit"
  "eng_title eng_title"
  "runtime ."
  "genres .";
}

.poster {
  grid-area: poster;
  width: clamp(100px, 80%, 300px);
  aspect-ratio: 16/9;

  img {
    width: 100%;
  }
}

.countries {
  grid-area: produced_by;
  display: flex;
  gap: 8px;
}

.title {
  grid-area: title;
  font-size: 2rem;

  padding: 8px 16px;
  margin: 0;
  border-radius: 8px;
  background: var(--accent);
  align-items: center;
  width: fit-content;
}

.eng_title {
  grid-area: eng_title;
  font-size: 1.2rem;
  width: fit-content;
}

.plot {
  grid-area: plot;
  padding: 8px 0;
}

.directors {
  grid-area: directors;
}

.writers {
  grid-area: writers;
}

.ratings {
  grid-area: ratings;
}

.button {
  box-shadow: 2px 2px 2px var(--text-color);
  cursor: pointer;
  background: var(--accent);
  padding: 8px 8px;
  width: fit-content;
  border-radius: 8px;
  height: fit-content;
}

.bold {
  display: flex;
  flex-direction: row;
  gap: 16px;

  h4 {
    margin: 8px 0;
  }

  .notbold {
    margin: 8px 0;
  }
}

.seenit {
  grid-area: seenit;
  gap: 4px;
  display: flex;
  align-self: center;
  justify-self: end;

  svg {
    height: 18px;
    width: 24px;
  }
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 8px;

  .button {
    background: var(--complement);
  }
}

.seen {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}


.runtime {
  grid-area: runtime;
}

.genres {
  grid-area: genres;
}


@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-areas:
    "title title"
    "poster plot"
    "eng_title eng_title"
    "produced_by seenit"
    "genres genres"
    "runtime ."
    "directors ."
    "writers ratings";
  }

  .title {
    font-size: 1.2rem;
  }

  .eng_title {
    font-size: 1rem;
  }
}