.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  padding: clamp(16px, 2.4vw, 24px) clamp(24px, 5vw, 80px);
}

.mainText {
  text-align: center;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.image {
  padding: 5px;
  aspect-ratio: auto;
  height: 150px;
}